@font-face
{
	font-family: "dinoknob";
	src: url("../font/dinoknob.eot?79790185");
	src: url("../font/dinoknob.eot?79790185#iefix") format("embedded-opentype"),
	url("../font/dinoknob.woff2?79790185") format("woff2"),
	url("../font/dinoknob.woff?79790185") format("woff"),
	url("../font/dinoknob.ttf?79790185") format("truetype"),
	url("../font/dinoknob.svg?79790185#dinoknob") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dinoknob';
    src: url('../font/dinoknob.svg?79790185#dinoknob') format('svg');
  }
}
*/

[class^="knob-icon-"]:before, [class*=" knob-icon-"]:before
{
	display: inline-block;
	font-family: "dinoknob", serif;
	font-style: normal;
	
	font-variant: normal;
	font-weight: normal;
	line-height: 1em;
	margin-left: .2em;
	margin-right: .2em;
	/* opacity: .8; */
	
	/* fix buttons height, for twitter bootstrap */
	text-align: center;
	
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	text-decoration: inherit;
	
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	
	/* Font smoothing. That was taken from TWBS */
	text-transform: none;
	width: 1em;
	
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.knob-icon-stopwatch:before
{
	content: "\e800";
}

.knob-icon-off:before
{
	content: "\e802";
}

.knob-icon-alert:before
{
	content: "\e803";
}

.knob-icon-th:before
{
	content: "\e804";
}

.knob-icon-lightbulb:before
{
	content: "\e805";
}

.knob-icon-contrast:before
{
	content: "\e806";
}

.knob-icon-bell:before
{
	content: "\e807";
}

.knob-icon-adjust:before
{
	content: "\e80a";
}

.knob-icon-th-large:before
{
	content: "\e80b";
}

.knob-icon-spin4:before
{
	content: "\e834";
}

.knob-icon-plug-1:before
{
	content: "\f1e6";
}